@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins&display=swap');

p,div,h2,span{
    font-family:'Poppins','Noto Sans KR','돋움','Dotum','바탕','Batang','sans-serif'
}

/* 풀페이지 */
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: contain;
}

#fullpage{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    z-index: 9;
}

.fullsection{
    width: 100%;
    height: 100%;
    position: relative;
}

.page{
    position: fixed;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.page li{
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

li.active{
    transition: 1s all ease;
    background: red;
}

/* 네비게이션 */
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#nav_wrap{
    width: 100%;
    height: 100px;
}

.wrap{
    width:1420px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width:200px;
    height: 50px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    width:calc(100% - 300px);
    height: 100px;
    display: flex;
    align-items: center;
}

nav>ul{
    width: 100%;
    position: relative;
}

nav>ul>li{
    width:calc(100% / 6);
    float: left;
}

nav a{
    color: white;
    font-size: 1.2em;
}

.sub>li{
    color: white;
    line-height: 2.5em;
    cursor: pointer;
}

.nav_sub{
    width: 100%;
    position: absolute;
    top:100px;
    left: 0;
    display: none;
    border-top: 1px solid white;
}

.nav_sub>.wrap{
    justify-content: right;
    align-items: flex-start;
}

/* 배너 슬라이드 */
#slideBox{
    width: 100%;
    height: 100%;
}

#slideWrap{
    width: 100%;
    height: 100%;
    position: relative;    
}

.slide{
    transition: 0.5s;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top:0;
}

.slide:not(:first-of-type){
    display: none;
}

.imgWrap{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

#slide_1{
    background-image: url(../img/banner_1.webp);
}

#slide_2{
    background-image: url(../img/banner_2.webp);
}

#slide_3{
    background-image: url(../img/banner_3.jpg);

}

/* 배너 십자가 */
.crossBox{
    width: 100%;
    height: 100%; 
    position: relative;
}

.cross{
    height:30%;
    background: red;
    opacity: 0.6;
    transition: 1s;
}
#slide_1 .cross_1{
    transform: rotate(0deg) translateY(130%);
}

#slide_1 .cross_2{
    transform: rotate(90deg) translateX(5%) translateY(10%);
}

#slide_1.on .cross_1{
    transform: rotate(90deg) translateX(35%);
}

#slide_1.on .cross_2{
    transform: rotate(0deg) translateY(30%);
}

#slide_2 .cross_1{
    transform: rotate(90deg) translateX(35%);
}

#slide_2 .cross_2{
    transform: rotate(0deg) translateY(30%);
}

#slide_2.on .cross_1{
    transform: rotate(45deg) translateX(25%) translateY(85%);
}

#slide_2.on .cross_2{
    transform: rotate(-45deg) translateX(-5%) translateY(15%);
}

#slide_3 .cross_1{
    transform: rotate(45deg) translateX(25%) translateY(85%);
}

#slide_3 .cross_2{
    transform: rotate(-45deg) translateX(-5%) translateY(15%);
}

#slide_3.on .cross_1{
    transform: rotate(0deg) translateY(130%);
}

#slide_3.on .cross_2{
    transform: rotate(90deg) translateX(5%) translateY(10%);
}

/* 배너 텍스트 */
.textBox{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 10%;
    color:white;
}

.textBox>p:first-child{
    font-size: 5em;
    font-weight: 800;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red
}

.textBox>p:nth-child(2){
    font-size: 2em;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red
}

#slide_2 .textBox>p:first-child{
    font-size: 5em;
    font-weight: 800;
}

.bannerBtn{
    width: 200px;
    height: 70px;
    background: transparent;
    border: 2px solid white;
    margin-top: 50px;
    cursor: pointer;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red
}

.bannerBtn:hover{
    color: red;
    background: white;
    text-shadow: none;
}

/* 2번섹션 */
#serviceSlide{
    width: 100%;
    height: 100%;
}

#slideWrap_2{
    width:400%;
    height: 100%;
}

.slides{
    height: 100%;
    float:left;
}

#service h2{
    position: absolute;
    top:130px;
    left:100px;
    font-size: 4em;
}

.serviceTxt{
    width: 40%;
    height: 100%;
    float: left;
    background: white;
}

.serviceTxt>h3{
    position: relative;
    top:50%;
    left:100px;
    font-size: 2.5em;
}

.serviceTxt>p{
    position: relative;
    top:50%;
    left:100px;
    font-size: 1em;
}

#searchBtn{
    position: relative;
    top: 55%;
    left: 100px;
    width:300px;
    height: 50px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    cursor: pointer;
}

#searchBtn:hover{
    color: white;
    background: red;
}

.serviceImg{
    width: 60%;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#controller{
    width: 30%;
    height: 100px;
    position: absolute;
    top:85%;
    left:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9e9e9e;
}

#idxCount{
    width: 80px;
    height: 50px;
    font-size: 2em;
}

#controller p{
    display: inline;
    font-size: 0.8em;
}

#controller span{
    font-size:0.8em;
    margin: 0 5px;
    letter-spacing: 0.1em;
}

#controller span:first-of-type{
    font-size:0.8em;
    color:black;
    font-weight: 900;
}

#controller>ul>li{
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background: #e2dfdf;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#next{
    border-radius: 0 50% 50% 0;
}

#prev{
    border-radius: 50% 0 0 50%;
}

#progressWrap{
    width: 50%;
    height: 10px;
    background: white;
    border-radius: 5px;
    border: 1px solid red;
    margin-left: 20px;
}

#progressBar{
    width:25%;
    height:9px;
    background: red;
    transition: 0.5s all ease;
}

#sSlide_1>.serviceImg{
    background-image: url(../img/service_1.jpg);

}

#sSlide_2>.serviceImg{
    background-image: url(../img/service_2.jpg);

}

#sSlide_3>.serviceImg{
    background-image: url(../img/service_3.jpg);
}

#sSlide_4>.serviceImg{
    background-image: url(../img/service_4.jpg);
}

/* 3번섹션 */
#text{
    background-image: url(../img/back.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#textWrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5)
}

#text h2{
    color: white;
    font-size: 4em;
    margin-bottom: 20px;
}

#text p{
    color: white;
    font-size: 1.5em;

}

/* 4번섹션 */
#count{
    background-image: url(../img/back.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#countWrap{
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.5)
}

.countBox{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: 0.5s all ease;
}

#box_2{
    border-left: 1px solid rgba(225,225,225,0.2);
    border-right: 1px solid rgba(225,225,225,0.2);
}
#box_3{
    border-right: 1px solid rgba(225,225,225,0.2);
}

.bar{
    width: 50px;
    height: 2px;
    background: red;
    margin:15px 0 8px 0
}

.countBox p:first-of-type{
    font-size: 1em;
    color: red;
}

.countBox p:nth-of-type(2){
    font-size: 4em;
    margin-bottom: 20px;
}

.countBox p:nth-of-type(2)>span{
    font-size: 0.25em;
}

.countBox p:nth-of-type(3){
    font-size: 1em;
}

/* 5번섹션 */
#news{
    background: white;
    display: flex;
}

#newsTxt{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newsBoard{
    width: 70%;
    height: 100%;
}

#newsTxt h2{
    font-size: 4em;
}

#newsTxt span{
    color: red;
}

.newsBtn{
    position: relative;
    top:20px;
    left:-100px;
    width: 200px;
    height: 70px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.newsBtn:hover{
    background: red;
    color: white;
}

#newsBoard{
    width:80%;
    height: 80%;
    background: forestgreen;
    margin:auto;
}

#board{
    width: 80%;
    height: 80%;
    margin: auto;
}

#tabMenu{
    width: 100%;
    height: 100px;
    background: orange;
}

#tabMenu li{
    float: left;
    width: 200px;
    height: 100px;
}

#tabWrap{
    width: 100%;
    height: calc(100% - 100px);
}

.tabs:not(:first-of-type){
    display: none;
}

.tabs{
    width: 100%;
    height: 100%;
    background: fuchsia;
}

/* 6번섹션 */
#footer{
    background: turquoise;
}

