@media (max-width:599px) {
    .wrap {
        width: 100%;
    }

    nav ul {
        display: none;
    }

    .nav_sub {
        display: none;
    }

    #hamWrap {
        display: block;
    }

    #ham {
        display: block;
    }

    .navHam {
        font-size: 1.2em;
    }

    #banner h2{
        font-size: 3em;
    }
    
    #textBox h3{
        font-size: 2em;
    }  

    h4{
        font-size: 2em;
    }

    #subMenu{
        width: 90%;
        height: 80px;
    }
   
    #floatMenu{
        display: none;
    }

    #slideMenu{
        width: 100%;
        height: 100%;
        display: block;
        font-size: 1.5em;
    }

    #slideMenu p{
        position: relative;
        top:50%;
        transform: translateY(-50%);
        margin-left: 5%;
    }

    p>i{
        position: relative;
        left:40%
    }

    .slideList{  
        height: 70px;
        font-size: 0.8em;
    }

    #imgBox{
        width: 100%;
        height: 1900px;
        border-radius: 0;
    }

    #imgWrap{
        border-radius: 0px;  
    }

    #imgWrap p {
        font-size: 1em;
        padding: 0 50px;
    }

    h5{
        padding-top: 130px;
    }

    .subTxt:not(:first){
        padding: 0 50px;
        font-size: 1em;
    }

    #textWrap{
        opacity: 1;
      }

    #footTxtWrap ul {
        margin: 0px 15px 0px 15px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: auto;
    }

    #footTxtWrap {
        width: 100%;
    }

    #footTxtWrap p {
        font-size: 0.8em;
        margin: 5px 15px 0 15px;
    }

    #footTxtWrap ul li {
        margin: 0 10px 10px 0;
        font-size: 0.8em;
        float: none;
    }

    #footLogo {
        margin: 20px 0;
    }

}

@media (min-width:600px) and (max-width:799px) {
    .wrap {
        width: 100%;
    }

    nav ul {
        display: none;
    }

    .nav_sub {
        display: none;
    }

    #hamWrap {
        display: block;
    }

    #ham {
        display: block;
    }

    #subMenu{
        width: 90%;
    }

   
    #floatMenu{
        display: none;
    }

    #slideMenu{
        width: 100%;
        height: 100%;
        display: block;
        font-size: 2em;

    }

    #slideMenu p{
        position: relative;
        top:50%;
        transform: translateY(-50%);
        margin-left: 5%;
    }

    p>i{
        position: relative;
        left:60%
    }

    .slideList{
        font-size: 1em;
    }

    #imgBox{
        width: 90%;
    }

    #imgWrap p {
        font-size: 1.2em;
        padding: 0 60px;
    }

    .subTxt{
        padding: 0 60px;
    }

    #footTxtWrap ul {
        margin: 0px 20px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: auto;
    }

    #footTxtWrap {
        width: 100%;
    }

    #footTxtWrap p {
        margin-left: 20px;
    }

    #footTxtWrap ul li {
        float: none;
    }
}

@media (min-width:800px) and (max-width:1419px) {
    .wrap {
        width: 100%;
    }

    nav a {
        font-size: 1em;
    }

    #subMenu{
        width: 90%;
    }

    .menuList{
        font-size: 1.5em;
    }

    #imgBox{
        width: 90%;
    }

    .subTxt{
        padding: 0 50px;
    }

    #footTxtWrap{
        width: 100%;
    }

    #footTxtWrap ul {
        margin-left: 15px;
    }

    #footTxtWrap p {
        margin-left: 15px;
    }

}