@media (max-width:599px) {
    .wrap {
        width: 100%;
    }

    nav ul {
        display: none;
    }

    .nav_sub {
        display: none;
    }

    #hamWrap {
        display: block;
    }

    #ham {
        display: block;
    }

    .navHam {
        font-size: 1.2em;
    }

    #banner h2{
        font-size: 3em;
    }
    
    #textBox h3{
        font-size: 2em;
    }  

    h4{
        font-size: 2em;
    }

    #subMenu{
        width: 90%;
        height: 80px;
    }
   
    #floatMenu{
        display: none;
    }

    #slideMenu{
        width: 100%;
        height: 100%;
        display: block;
        font-size: 1.5em;
    }

    #slideMenu p{
        display:flex;
        justify-content: space-between;
        margin: 0 10%;
        position: relative;
        top:50%;
        transform: translateY(-50%);
    }

    #slideMenu i {
        margin-top: 5px;
    }

    .slideList{  
        height: 70px;
        font-size: 0.8em;
    }

    #imgBox{
        width: 100%;
        height: 1900px;
        border-radius: 0;
    }

    #imgWrap{
        border-radius: 0px;  
    }

    #imgWrap p {
        font-size: 1em;
        padding: 0 50px;
    }

    h5{
        padding-top: 130px;
    }

    .subTxt:not(:first){
        padding: 0 50px;
        font-size: 1em;
    }

    #textWrap{
        opacity: 1;
    }

    #textQ{
        width: 100%;
        padding: 0 10px 100px 10px;
    }
    .process {
        height: 600px;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    #list_2, #list_4, #list_6{
        flex-direction: column;
        justify-content: flex-start;
    }

    .proTxt {
        width: 100%;
        height: 20%;
        font-size: 1em;
        justify-content: flex-start;
        z-index: 10;
        padding-right: 15px;
    }

    .proTxt:nth-of-type(even){
        padding-left: 15px;
      }

    .proImg {
        width: 100%;
        height: 40%;
        opacity: 0.5;
    }

    #pro_2 {
        background: url(../img/sub/pro_2.png) center /cover no-repeat;
    }

    #pro_5{
        background: url(../img/sub/pro_5.jpg)  0 /cover no-repeat;
      }

    .content_box {
        width: 96%;
        margin: 0px 2% 20px 2%;
    }

    .content_text h2 {
        font-size: 1em;
        margin: 10px 0;
    }
    .content_text p {
        font-size: 0.9em;    
    }

    .supply {
        flex-wrap: wrap;
    }
    #imgBox_5{
        height: auto;
        width: 100%;
      }

    #supply_1 {
        height: auto;
    }
    .su_left{
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .su_left h3 {
        font-size: 1em;
    }
    
    .su_left h2 {
    font-size: 2em;
    }
      
    #right_1{
        width: 100%;
        height: auto;
        padding-left: 20px;
    }

    .arrow_wrap {
        width: 225px;
        height: 190px;
        margin: 20px 0 10px 20px;
    }

    #right_2 {
        padding-top: 20px;
        padding-left: 20px;
        width: 100%;
    }

    .chart {
        width: 100%;
        height: 500px;
        background-repeat: no-repeat!important;
        background-position: center!important;
        background-size: 130%!important;
        margin: 20px 0;
    }

    #footTxtWrap ul {
        margin: 0px 15px 0px 15px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: auto;
    }

    #footTxtWrap {
        width: 100%;
    }

    #footTxtWrap p {
        font-size: 0.8em;
        margin: 5px 15px 0 15px;
    }

    #footTxtWrap ul li {
        margin: 0 10px 10px 0;
        font-size: 0.8em;
        float: none;
    }

    #footLogo {
        margin: 20px 0;
    }

}

@media (min-width:600px) and (max-width:799px) {
    .wrap {
        width: 100%;
    }

    nav ul {
        display: none;
    }

    .nav_sub {
        display: none;
    }

    #hamWrap {
        display: block;
    }

    #ham {
        display: block;
    }

    #subMenu{
        width: 90%;
    }

    #floatMenu{
        display: none;
    }

    #slideMenu{
        width: 100%;
        height: 100%;
        display: block;
        font-size: 2em;
    }

    #slideMenu p{
        position: relative;
        top:50%;
        transform: translateY(-50%);
        margin-left: 5%;
    }

    #slideMenu i{
        position: relative;
        left:60%
    }

    .slideList{
        font-size: 1em;
    }

    #imgBox{
        width: 90%;
    }

    #imgWrap p {
        font-size: 1.2em;
        padding: 0 60px;
    }

    .subTxt{
        padding: 0 60px;
    }

    #textQ{
        width: 100%;
        padding: 0 10px 100px 10px;
    }

    .process {
        height: 700px;
        flex-direction: column-reverse;
        justify-content: flex-end;
        position: relative;
    }

    #list_2, #list_4, #list_6{
        flex-direction: column;
        justify-content: flex-start;
    }

    .proTxt {
        width: 100%;
        height: 20%;
        font-size: 1em;
        justify-content: flex-start;
        z-index: 10;
        padding-right: 20px;
        position: relative;
    }

    .proTxt:nth-of-type(even){
        padding-left: 20px;
        padding-right: 15%;
      }

    .proImg {
        width: 100%;
        height: 40%;
    }

    .proWrap {
        position: relative;
        z-index: 1;
        opacity: 0.5;
    }

    #pro_2 {
        background: url(../img/sub/pro_2.png) -20px 0 /cover no-repeat;
    }

    #pro_5{
        background: url(../img/sub/pro_5.jpg) center /cover no-repeat;
      }

    .content_box {
        width: 96%;
        margin: 0px 2% 20px 2%;
    }

    .content_text h2 {
        font-size: 1em;
        margin: 10px 0;
    }
    .content_text p {
        font-size: 0.9em;    
    }

    .supply {
        flex-wrap: wrap;
    }
    #imgBox_5{
        height: auto;
        width: 100%;
      }

    #supply_1 {
        height: auto;
    }
    .su_left{
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .su_left h3 {
        font-size: 1em;
    }
    
    .su_left h2 {
    font-size: 2em;
    }
      
    #right_1{
        width: 100%;
        height: auto;
        padding-left: 20px;
    }

    .arrow_wrap {
        width: 225px;
        height: 190px;
        margin: 20px 0 10px 20px;
    }

    #right_2 {
        padding-top: 20px;
        padding-left: 20px;
        width: 100%;
    }

    .chart {
        width: 100%;
        height: 500px;
        background-repeat: no-repeat!important;
        background-position: center!important;
        background-size: 130%!important;
        margin: 20px 0;
    }

    #footTxtWrap ul {
        margin: 0px 20px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: auto;
    }

    #footTxtWrap {
        width: 100%;
    }

    #footTxtWrap p {
        margin-left: 20px;
    }

    #footTxtWrap ul li {
        float: none;
    }
}

@media (min-width:800px) and (max-width:1419px) {
    .wrap {
        width: 100%;
    }

    nav a {
        font-size: 1em;
    }

    #subMenu{
        width: 90%;
    }

    .menuList{
        font-size: 1.5em;
    }

    #imgBox{
        width: 90%;
    }

    .subTxt{
        padding: 0 50px;
    }

    #textQ{
        width: 100%;
        padding: 0 10px 100px 10px;
    }

    .process {
        height: 800px;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    #list_2, #list_4, #list_6{
        flex-direction: column;
        justify-content: flex-start;
    }

    .proTxt {
        width: 100%;
        height: 20%;
        font-size: 1em;
        justify-content: flex-start;
        z-index: 10px;
        padding-right: 20px;
    }

    .proTxt:nth-of-type(even){
        padding-left: 20px;
        padding-right: 15%;
      }

    .proImg {
        width: 100%;
        height: 40%;
        opacity: 0.7;
    }

    #pro_2 {
        background: url(../img/sub/pro_2.png) -20px 0 /cover no-repeat;
    }

    #pro_5{
        background: url(../img/sub/pro_5.jpg) -20px 0 /cover no-repeat;
      }

    .content_box {
        width: 48%;
        margin: 0px 1% 20px 1%;
    }

    .content_text h2 {
        font-size: 1em;
        margin: 10px 0;
    }
    .content_text p {
        font-size: 0.9em;    
    }

    .supply {
        flex-wrap: wrap;
    }
    #imgBox_5{
        height: auto;
        width: 100%;
      }

    #supply_1 {
        height: auto;
    }
    .su_left{
        padding-left: 20px;
    }

    .su_left h3 {
        font-size: 1em;
    }
    
    .su_left h2 {
        font-size: 2em;
    }
      
    #right_1{
        height: auto;
        padding-left: 20px;
    }

    .arrow_wrap {
        width: 225px;
        height: 190px;
        margin: 20px 0 10px 20px;
    }

    #right_2 {
        padding-top: 20px;
        padding-left: 20px;
    }

    .chart {
        width: 100%;
        height: 500px;
        background-repeat: no-repeat!important;
        background-position: center!important;
        background-size: 130%!important;
        margin: 30px 0;
    }

    #footTxtWrap{
        width: 100%;
    }

    #footTxtWrap ul {
        margin-left: 15px;
    }

    #footTxtWrap p {
        margin-left: 15px;
    }
}