@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins&display=swap');

p,div,h2,h3,h4,h5,span{
    font-family:'Poppins','Noto Sans KR','돋움','Dotum','바탕','Batang','sans-serif'
}

header{
  position: absolute;
}

#banner{
  width: 100%;
  height: 100%;
  background: url(../img/sub/back_2.jpg) center /cover no-repeat;
}

#bannerWrap{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#banner h2{
  color: white;
  font-size: 4em;
  margin-bottom: 100px;
}

#bar{
  width: 3px;
  height: 150px;
  background: rgba(255,255,255,0.3);
}

#moveBar{
  width: 3px;
  height: 50px;
  background: white;
  animation: moving 1.5s infinite linear alternate;
}

@keyframes moving {
  from{
    transform:translateY(0%);
  }
  to{
    transform:translateY(200%);
  }
}

#textBox{
  width: 100%;
  height: 300px;
}

#textBox h3{
  font-size: 3em;
  text-align: center;
  margin: 100px 0 50px 0;
}

#subMenu{
  width: 1420px;
  height: 100px;
  border: 1px solid #ddd;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList{
  float: left;
  font-size: 2em;
  margin-right: 25px;
}

.menuList:not(:last-child)::after{
  content: "";
  margin-left: 25px;
  width: 1px;
  height: 25px;
  background: #ddd;
  display: inline-block;
}

.menuList{
  color:black;
  cursor: pointer;
}

.menuList.active {
  color:#119891;
}

#slideMenu{
  display: none;
  color:#119891;
  cursor: pointer;
}

p>i{
  transition: 0.5s all ease;
}

.rotate{
  transform: rotate(180deg);
}

#listWrap{
  display: none;
  z-index: 100;
  position: relative;
}

.slideList{
  border: 1px solid #ddd;
  background-color: white;
  height: 80px;
  width: 90%;
  margin: 0 auto;
  z-index: 10;
  cursor: pointer;
}

.slideList.active p{
  color:#119891
}

.slideList p{
  position: relative;
  top:50%;
  transform: translateY(-50%);
  margin-left: 5%;
  font-size: 1.5em;
}

h4{
  font-size: 2em;
  text-align: center;
  margin-bottom: 140px;
}

.imgBox{
  width: 1420px;
  height: 500px;
  margin: 0 auto;
  background-attachment: fixed;
  border-radius: 250px;
}

#imgBox{
  background: url(../img/sub/back_sub.jpg) center /cover no-repeat;
}

.imgWrap{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  border-radius: 250px;
}

#textWrap{
  opacity: 0;
}

h5{
  padding-top: 200px;
  margin-bottom: 100px;
  color: #119891;
  font-size: 2em;
  text-align: center;
}

#imgWrap p {
  font-size: 1.5em;
  color: white;
  text-align: center;
  line-height: 2em;
}

#arrow{
  margin: 150px 0 0 0;
  display:grid;
  place-content: center;
  animation: moving_2 1s infinite alternate;
}

@keyframes moving_2{
  from{
    transform:translateY(0%);
  }
  to{
    transform:translateY(50%);
  }
}

#arrow>i{
  font-size: 4em;
  color: white;
}

.subTxt{
  opacity: 0;
}

#txt_0{
  padding-top: 200px;
  margin-bottom: 100px;
}

/* .tab:not(:first-child){
  display: none;
} */

#tab_1, #tab_2, #tab_3{
  display: none;
}

#imgBox_2{
  background: url(../img/sub/back_tab_2.jpg) center /cover no-repeat;
  border-radius: 0;
  height: auto;
  width: 100%;
  background-attachment: fixed;
}

#imgWrap_2{
  border-radius: 0;
}

#textQ{
  width: 1420px;
  margin: 50px auto;
  padding-bottom: 100px;

}

#textQ div{
  color: white;
  cursor: pointer;
}

.question>p{
  border-bottom: 1px solid white;
  margin: 10px 0;
  font-size: 1.5em;  
  padding: 10px 0;
}

.question i{
  color: #119891;
}

.answer {
  margin:0 20px;
  border-bottom: 1px solid white;
  display: none;
  padding: 10px 0;
}

#imgBox_3{
  background: black;
  border-radius: 0;
  height: auto;
  width: 100%;
}

.process{
  width: 100%;
  height: 1300px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.proTxt{
  color: white;
  width: 45%;
  height: 50%;
  padding-left: 15%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proTxt:nth-of-type(even){
  padding-left: 0;
  padding-right: 15%;
}

.proTxt h5{
  text-align: left;
  margin: 0 0 50px 0;
  padding: 0;
}

.proImg{
  width: 55%;
  height: 100%;
}

.proWrap{
  width: 1300px;
  height: 1300px;
  border-radius: 50%;
  position: relative;
  left: 30%;
}

#pro_2, #pro_4, #pro_6{
  left:-30%;
}

#pro_1{
  background: url(../img/sub/pro_1.jpg) left /cover no-repeat;
}
#pro_2{
  background: url(../img/sub/pro_2.png) 200px 0  /cover no-repeat;
}
#pro_3{
  background: url(../img/sub/pro_3.png) left /cover no-repeat;
}
#pro_4{
  background: url(../img/sub/pro_4.jpg) center /cover no-repeat;
}
#pro_5{
  background: url(../img/sub/pro_5.jpg) -500px 0 /cover no-repeat;
}
#pro_6{
  background: url(../img/sub/pro_6.jpg) left /cover no-repeat;
}

#imgBox_4 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.content_box {
  width: 48%;
  height: 400px;
  background: black;
  margin: 0px 1% 20px 1%;
  position: relative;
}

.content_text {
  height: 60%;
  margin: 30px 30px 0 30px;
  color: white;
}

.content_text h2 {
  margin-bottom: 5px;
  font-size: 1.5em;
}

.content_text p {
  color :#ddd
}

.ani_1_circle {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 0px 30px 30px 30px;
}

#black_circle {
  position: absolute;
  bottom: 0;
  background: black;
  border: 1px solid white;
  animation: circle_1 1s infinite linear alternate;
}

@keyframes circle_1{
  from {
    transform:translateX(0%);
  }
  to {
    transform:translateX(40%)
  }
}

#red_circle {
  background: #f82c2d;
  position: absolute;
  bottom: 0;
  left: 50px;
  animation: circle_2 1s infinite linear alternate;
}

@keyframes circle_2{
  from {
    transform:translateX(0%);
  }
  to {
    transform:translateX(-40%)
  }
}

.ani_2_box {
  width: 54px;
  height: 54px;
}

#black_box {
  position: absolute;
  bottom: 0;
  background: black;
  border: 1px solid white;
  margin: 0px 30px 30px 30px;
}

#red_box {
  background: #f82c2d;
  position: relative;
  left: 0;
  animation: box_1 1.5s infinite linear alternate;
}

@keyframes box_1 {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
  }
}

.ani_3_dot{
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f82c2d;
  margin: 0px 30px 30px 30px;
}

#dot_1 {
  bottom: 30px;
  animation: dot_1 0.7s infinite linear alternate;
}

@keyframes dot_1 {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(15px);
  }
}

#dot_2 {
  left:20px;
  bottom:35px;
  animation: dot_2 1s infinite linear alternate;
}

@keyframes dot_2 {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(-5px);
  }
}

#dot_3 {
  left:40px;
  bottom:25px;
  animation: dot_3 1s infinite linear alternate;
}

@keyframes dot_3 {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(10px);
  }
}

#footer{
  margin-top: 100px;
}
