@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins&display=swap');

p,div,h2,h3,h4,h5,span{
    font-family:'Poppins','Noto Sans KR','돋움','Dotum','바탕','Batang','sans-serif'
}

#banner{
  width: 100%;
  height: 100%;
  background: url(../img/sub/back_2.jpg) center /cover no-repeat;
}

#bannerWrap{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#banner h2{
  color: white;
  font-size: 4em;
  margin-bottom: 100px;
}

#bar{
  width: 3px;
  height: 150px;
  background: rgba(255,255,255,0.3);
}

#moveBar{
  width: 3px;
  height: 50px;
  background: white;
  animation: moving 1.5s infinite linear alternate;
}

@keyframes moving {
  from{
    transform:translateY(0%);
  }
  to{
    transform:translateY(200%);
  }
}

#textBox{
  width: 100%;
  height: 500px;
}

#textBox h3{
  font-size: 3em;
  text-align: center;
  margin: 100px 0 50px 0;
}

#subMenu{
  width: 1420px;
  height: 100px;
  border: 1px solid #ddd;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList{
  float: left;
  font-size: 2em;
  margin-right: 25px;
}

.menuList:not(:last-child)::after{
  content: "";
  margin-left: 25px;
  width: 1px;
  height: 25px;
  background: #ddd;
  display: inline-block;
}

.menuList a{
  color:black;
}

.menuList.active a{
  color:#119891
}

h4{
  margin: 130px;
  font-size: 2em;
  text-align: center;
}

#imgBox{
  width: 1420px;
  height: 500px;
  margin: 0 auto;
  background: url(../img/sub/back_sub.jpg) center /cover no-repeat;
  border-radius: 250px;
  background-attachment: fixed;
}

#imgWrap{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  border-radius: 250px;
}

#textWrap{
  width: 100%;
  height: 100%;
  display: none;
}

h5{
  padding-top: 200px;
  margin-bottom: 100px;
  color: #119891;
  font-size: 2em;
  text-align: center;
}

#imgWrap p {
  font-size: 1.5em;
  color: white;
  text-align: center;
  line-height: 2em;
}

#arrow{
  margin: 150px 0 0 0;
  display:grid;
  place-content: center;
  animation: moving_2 1s infinite alternate;
}

@keyframes moving_2{
  from{
    transform:translateY(0%);
  }
  to{
    transform:translateY(50%);
  }
}

i{
  font-size: 4em;
  color: white;
}

.subTxt{
  opacity: 0;
}

#txt_0{
  padding-top: 200px;
  margin-bottom: 100px;
}
